.section-products
	.section-products__body
		h2.section-products__title.t-h2 Популярные товары  
		.section-products__content 
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')
			.section-products__column 
				.products-cart
					.products-cart__content 
						.products-cart__image 
							+picture('img/pic/pref-05.png', 'image')
						a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
						.products-cart__price.t-text-24
							span 8.870
							+iconfont('rub', 'icon')  
						.products-cart__button-container 
							a(href="").products-cart__button-cart.button 
								span.t-text-15 Добавить в корзину
								.products-cart__icon-cart 
									+iconfont('arrow-right', 'icon') 
							a(href="").products-cart__button-by.button 
								span Купить в 1 клик
								.products-cart__icon-by
									+iconfont('arrow-right', 'icon')