.section-help
	.section-help__body 
		.section-help__bread-crumbs 
			nav.bread-crumbs 
				ul.bread-crumbs__list 
					li 
						a.bread-crumbs__link.link_underline-lr(href=getWebRoot(filename) + "index.html" aria-label="home") 
							span Главная 
					li -
					li 
						span.bread-crumbs__item Помощ
		.section-help__title.t-h1 О компании
		.section-help__content
			.section-help__column 
				.help-info 
					.help-info__content 
						.help-info__text Добро пожаловать в «Букеты-Ракеты» — магазин, где цветы превращаются в праздник!
						.help-info__title
							span.t-h2 Здесь собрали ответы
							span.t-h2 на самые частые вопросы 
						.help-info__text.text-light Если вдруг вы не нашли нужную информацию — напишите нам в чат или позвоните, мы всегда рядом
			.section-help__column 
				.section-help__image 
					+picture('img/pic/pref-06.png', 'image')
		.section-help__answers
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-02.png', 'image')
				.section-help__text
					span.text-light Собираем букет
					strong под любой бюджет
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-09.png', 'image')
				.section-help__text
					span.text-light Можем создать 
					strong авторскую композициюна наш вкус
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-10.png', 'image')
				.section-help__text
					span.text-light Возможно оформление индивидуального заказа: 
					strong подарочные боксы, шары, праздничные наборы
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-01.png', 'image')
				.section-help__text
					span.text-light Упаковку подбираемпод стиль букета —
					strong от лаконичной до яркой праздничной
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-11.png', 'image')
				.section-help__text
					span.text-light При желании привезём редкие
					strong и экзотические цветы под заказ
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-07.png', 'image')
				.section-help__text
					span.text-light Мы бережно закупаем
					strong и транспортируем цветы
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-12.png', 'image')
				.section-help__text
					span.text-light Каждый букет собирается 
					strong незадолго до доставки
			.section-help__item
				.section-help__icon 
					+picture('img/icons/icon-13.png', 'image')
				.section-help__text
					span.text-light Если что-то не понравилось в заказе 
					strong — напишитенам, мы всё исправим
		.section-help__questions
			.questions-help 
				.questions-help__body
					.questions-help__column(id="bouquet-form")
						form.card(action="#" method="post") 
							.card__row
								.card__icon 
									img(src="/img/icons/icon-04.png" alt="Иконка") 
								.card__tips 
									span.t-text-19 Загрузите фото </br> желаемого букета

									// Область для drag-and-drop
									.card__upload-area(id="upload-area")
										.card__upload-text
											span Кликните для загрузки
											span.card__upload-drag или перетащите фото сюда

										// Скрытый input для загрузки
										input.card__file-input(
											type="file"
											id="bouquet-upload"
											name="bouquet_photo"
											accept="image/*"
											style="display: none;"
										)

									// Превью загруженного фото
									.card__preview
										img.card__preview-image(
											src=""
											alt="Превью загруженного фото"
										)
										.card__preview-actions
											button.card__preview-change(type="button") Изменить фото
											button.card__preview-remove(type="button") 
												+iconfont('trash', 'icon')

									// Скрытое поле для хранения данных файла
									input(type="hidden" id="file-data" name="file_data")

							.card__row 
								.card__textarea-wrapper
									textarea.card__textarea(
										id="bouquet-wishes"
										name="bouquet_wishes"
										placeholder="Например: Хочу нежный букет в розовых тонах с пионами и эвкалиптом. Бюджет до 5000 руб."
										rows="4"
									)
									.card__textarea-counter
										span#char-count 0
										span /500 символов

							.card__row
								.card__button.button(type="submit")
									span.t-text-16 Получить бонусы
									.card__icon
										+iconfont('arrow-right', 'icon')

							// Сообщения об успехе/ошибке
							.card__message.success-message(style="display: none;")
								.message-icon ✓
								.message-text Ваша заявка отправлена! Флорист свяжется с вами в течение 15 минут.

							.card__message.error-message(style="display: none;")
								.message-icon ⚠
								.message-text Пожалуйста, загрузите фото или напишите пожелания
					.questions-help__column
						include @/pug/sections/section-questions