.section-catalog
	.section-catalog__body 
		.section-catalog__bread-crumbs 
			nav.bread-crumbs 
				ul.bread-crumbs__list 
					li 
						a.bread-crumbs__link.link_underline-lr(href=getWebRoot(filename) + "index.html" aria-label="home") 
							span Главная 
					li -
					li 
						span.bread-crumbs__item Каталог 
		.section-catalog__title.t-h1 Каталог товаров
		//- .section-catalog__select-filter 
			.section-catalog__col
				span На 8 марта
				.section-catalog__del-btn 
					+iconfont('plus', 'icon')
			.section-catalog__col
				span Сказать любою
				.section-catalog__del-btn 
					+iconfont('plus', 'icon')
			.section-catalog__col
				span Букеты
				.section-catalog__del-btn 
					+iconfont('plus', 'icon')
			.section-catalog__col
				span Любимой
				.section-catalog__del-btn 
					+iconfont('plus', 'icon')
			.section-catalog__col
				span Маме
				.section-catalog__del-btn 
					+iconfont('plus', 'icon')
			.section-catalog__col
				span Сестре
				.section-catalog__del-btn 
					+iconfont('plus', 'icon') 
		.section-catalog__content-wrapper 
			.section-catalog__colo-left //* todo Секция фильтра
				.filter-catalog
			.section-catalog__colo-right 
				.section-catalog__content 
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')
					.section-catalog__column 
						.products-cart
							.products-cart__content 
								.products-cart__image 
									+picture('/img/pic/pref-05.png', 'image')
								a(href=linkTo('product-card', filename)).products-cart__link.t-text-20 Авторский премиум - букет&nbsp;из&nbsp;роз 
								.products-cart__price.t-text-24
									span 8.870
									+iconfont('rub', 'icon')  
								.products-cart__button-container 
									a(href="").products-cart__button-cart.button 
										span.t-text-15 Добавить в корзину
										.products-cart__icon-cart 
											+iconfont('arrow-right', 'icon') 
									a(href="").products-cart__button-by.button 
										span Купить в 1 клик
										.products-cart__icon-by
											+iconfont('arrow-right', 'icon')